.formPage {
  height: 100vh;
  width: 100vw;
  margin-top: 0;
  margin-bottom: 0;
  background-color: rgb(112, 117, 122);
  position: absolute;
}

.authForm {
  margin-top: 20vh;
  padding: 20px;
  width: 350px;
  position: relative;
}

.loginForm {
  grid-template-rows: 2fr 2fr 2fr 2fr 1.5fr;
}

.signupForm {
  grid-template-rows: 2fr 2fr 2fr 2fr 2fr 1.5fr;
}

.authForm__buttons-cntnr {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 5px;
}
