.formPage {
  height: 100vh;
  width: 100vw;
  margin-top: 0;
  margin-bottom: 0;
  background-color: rgb(112, 117, 122);
  position: absolute;
}

.authForm {
  margin-top: 20vh;
  padding: 20px;
  width: 350px;
  position: relative;
}

.loginForm {
  grid-template-rows: 2fr 2fr 2fr 2fr 1.5fr;
}

.signupForm {
  grid-template-rows: 1fr 3fr 2fr 2fr 2fr 2fr 1.5fr;
}

.authForm__buttons-cntnr {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 5px;
}

.nav__logout {
  text-decoration: none;
  padding: 5px 8px;
  width: auto;
  height: 80%;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 18px;
  border: 1px solid rgba(77, 77, 110, .5);
  border-radius: 5px;
  background-color: rgb(26, 30, 39);
  color:rgb(33, 139, 252);
  box-shadow: 0px 0px 3px rgba(38, 130, 235, 0.7);
}

.nav__logout:hover {
  border-color: rgba(28, 116, 212, .6);
}
