.tradeplanning__cntnr {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-around;
  background-color: rgb(43, 53, 63);
  height: 75vh;
  padding: 50px 20px;
}

.editTP__cntnr {
  background-color: rgb(43, 53, 63);
}

div.detail__cntnr {
  padding-top: 5px;
}

.tradeplanning__chart {
  display: block;
  width: 70vw;
  height: 100%;
  background-color: rgb(20, 23, 34);
  border: 1px solid rgba(28, 116, 212, .5);
  justify-self: center;
  align-self: center;
}

div.editTP__toggle {
  background-color: rgb(43, 53, 63);
  margin-bottom: 0px;
  margin-left: 30px;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-around;
  padding: 0px 20px;
  height: 50px;
}

.toggle__balance {
  width: 75vw;
}

.check.toggle__check {
  position: absolute;
  top: 0px;
  left: 0;
  height: 20px;
  width: 20px;
  border: 2px solid rgba(97, 97, 160, 0.8);
  border-radius: 3px;
}

label.publishing_cntnr.toggle__label {
  font-size: 20px;
  margin-bottom: 0px;
  width: 15vw;
  justify-self: start;
  align-self: center;
  padding-left: 35px;
}

.publishing_input.toggle__input {
  width: 75px;
}

div.toggle-chart {
  display: none;

}

div.toggle-image {
  height: 75vh;
  width: 70vw;
  padding: 0;
}

.tradeDetailImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}

.tradeDetailImg-cntnr {
  display: block;
}

.tradeplanning__form-cntnr {
  border: 1px solid rgba(28, 116, 212, .5);
  width: 25vw;
  height: 75vh;
  justify-self: center;
  align-self: center;
}

.tradeplanning__form {
  grid-template-rows: .4fr 2fr .6fr 1fr 1fr 3fr 1fr .6fr;
  height: 100%;
  border-radius: 0px;
}

.tradeplanning__form--select {
  background-color: rgb(19, 22, 29);
  color: rgb(173, 175, 190);
  font-size: 15px;
  margin-left: 0px;
  padding: 5px;
  border-radius: 4px;
  margin-bottom: 20px;
}

.tradeplanning__form--textarea {
  background-color: rgb(19, 22, 29);
  color: rgb(173, 175, 190);
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.publishing_cntnr {
  color:rgb(173, 175, 190);
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  position: relative;
  padding-left: 27px;
  margin-bottom: 8px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.publishing_cntnr input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.check {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  border: 1px solid rgba(77, 77, 110, .5);
  border-radius: 3px;
}

.publishing_cntnr:hover input ~ .check {
  background-color: rgba(28, 116, 212, .6);
}

.publishing_cntnr input:checked ~ .check {
  background-color: rgb(5, 108, 218);
}

.check:after {
  content: "";
  position: absolute;
  display: none;
}

.publishing_cntnr input:checked ~ .check:after {
  display: block;
}

.publishing_cntnr .check:after {
  left: 4px;
  top: 3px;
  width: 3px;
  height: 5px;
  border: solid rgb(210, 212, 230);
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.tradeplanning__form--submit {
  width: 38%;
  height: 80%;
  margin: auto;
  font-size: 24px;
  /* font-weight: bold; */
  border: 1px solid rgba(77, 77, 110, .5);
  border-radius: 5px;
  background-color: rgb(26, 30, 39);
  color:rgb(33, 139, 252);
  box-shadow: 0px 0px 3px rgba(38, 130, 235, 0.7);
}

.tradeplanning__form--submit:hover {
  border-color: rgba(28, 116, 212, .6);
}
