.nav {
  background-color: rgb(19, 22, 29);
  border-bottom: 4px solid rgba(28, 116, 212, .5);
  width: 100%;
  height: 62px;
  margin: 0;
  padding: 0;
  position: sticky;
}

.nav__ul {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  list-style-type: none;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.nav__link {
  text-decoration: none;
  color: lightblue;
}
.home__li {
  align-self: center;
  margin-top: 2px;
}
.home {
  height: 55px;
  margin-left: 20px;
}
